@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.zag2 {
	font-family: 'Kosugi Maru', sans-serif;
}

#name_prog {
	font-family: 'Russo One', sans-serif;;
}

#name_prog2 {
	font-family: 'Russo One', sans-serif;;
}