body {
	background-image: url(https://goodakk.ru/assets/93f8d5f2/images/pattern_bg.jpg);
}

.zag1 {
	color: #1CF12B;
	font-size: 4em;
	font-family: arial ;
	text-align: center;
	margin-top: 300px;
}

#down {
	color: white;
	font-size: 5em;
	text-decoration: none;
	font-family: tahoma;
	background-color:#5FA611;
	padding: 10px;
	border-radius: 60px 50px;
}
#imd {
	margin-top: 200px;
}