body {
	background-color: #318CE7;
}

a {
	-webkit-tap-highlight-color: transparent;
}

.logotip {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 5.5em;
	text-align: center;
	margin-top: 20px;
	text-shadow: 0 0 15px black;
}

#pod_text{
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 0 0 15px black;
}

#prie {
	color: black;
	font-size: 4.5em;
	background-color: whitesmoke;
	border-radius: 100px 100px;
	padding: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top: 10%;
}

.butt {
	color: black;
	background-color: yellow;
	border-radius: 60px;
	font-size: 5.5em;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Russo One', sans-serif;
	padding-right: 40px;
	transition: 0.5s;
}

.butt:hover {
	font-size: 5em;
}

.prize {
	color: white;
	font-size: 5em;
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

#prize_img {
	background-color: white;
	padding: 20px;
	border-radius: 40px;
	margin-left: 20px;
	margin-top: 10px;
	transition: 0.2s;
}

#prize_img:hover {
	opacity: 80%;
}